{% extends "base.html" %}
{% block content %}

<h4>Dashboard</h4>

<div class="input-field" style="width:300px">

<p><b>Filtrar por departamento:</b></p>

<select id="filtroDepartamento" class="browser-default">
<option value="todos">Todos</option>
<option value="TI">TI</option>
<option value="Financeiro">Financeiro</option>
<option value="RH">Recursos Humanos</option>
<option value="Marketing">Marketing</option>
<option value="Vendas">Vendas</option>
<option value="Administrativo">Administrativo</option>
<option value="Logística">Logística</option>
<option value="Atendimento">Atendimento</option>
<option value="Jurídico">Jurídico</option>
<option value="Operações">Operações</option>

</select>

</div>

<br>

<div class="row">

<div class="col s3">
<div class="card blue white-text">
<div class="card-content">
<span>Total Funcionários</span>
<h5 id="total"></h5>
</div>
</div>
</div>

<div class="col s3">
<div class="card green white-text">
<div class="card-content">
<span>Média Salarial</span>
<h5 id="media"></h5>
</div>
</div>
</div>

<div class="col s3">
<div class="card orange white-text">
<div class="card-content">
<span>Maior Salário</span>
<h5 id="maior"></h5>
</div>
</div>
</div>

<div class="col s3">
<div class="card red white-text">
<div class="card-content">
<span>Menor Salário</span>
<h5 id="menor"></h5>
</div>
</div>
</div>

</div>

<div class="row">

<div class="col s12 m6">
<canvas id="graficoSalarios"></canvas>
</div>

<div class="col s12 m6">
<canvas id="graficoDepartamentos"></canvas>
</div>

</div>

<div class="row">

<div class="col s12">
<canvas id="graficoDistribuicao"></canvas>
</div>

</div>

<h5>Ranking de Salários</h5>
<canvas id="graficoRanking"></canvas>

<h5>Admissões por Mês</h5>
<canvas id="graficoAdmissoes"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

let charts = []

function destruirGraficos(){

charts.forEach(chart => chart.destroy())

charts = []

}

function carregarDados(departamento="todos"){

fetch("/data?departamento="+departamento)

.then(res => res.json())

.then(data => {

destruirGraficos()

document.getElementById("total").innerText = data.metricas.total
document.getElementById("media").innerText = "R$ "+data.metricas.media
document.getElementById("maior").innerText = "R$ "+data.metricas.maior
document.getElementById("menor").innerText = "R$ "+data.metricas.menor

charts.push(new Chart(document.getElementById("graficoSalarios"),{

type:"bar",

data:{
labels:data.nomes,

datasets:[{
label:"Salários",
data:data.salarios
}]
}

}))

charts.push(new Chart(document.getElementById("graficoDepartamentos"),{

type:"pie",

data:{
labels:data.departamentos_labels,

datasets:[{
data:data.departamentos_valores
}]
}

}))

charts.push(new Chart(document.getElementById("graficoDistribuicao"),{

type:"line",

data:{
labels:data.nomes,

datasets:[{
label:"Distribuição Salarial",
data:data.salarios
}]
}

}))

charts.push(new Chart(document.getElementById("graficoRanking"),{

type:"bar",

data:{
labels:data.ranking_nomes,

datasets:[{
label:"Top Salários",
data:data.ranking_salarios
}]
}

}))

charts.push(new Chart(document.getElementById("graficoAdmissoes"),{

type:"line",

data:{
labels:data.meses,

datasets:[{
label:"Contratações",
data:data.admissoes
}]
}

}))

})

}

carregarDados()

document.getElementById("filtroDepartamento")

.addEventListener("change",function(){

carregarDados(this.value)

})

</script>

{% endblock %}