{% extends "base.html" %}
{% block content %}

<div class="row">

<div class="col s3">
<div class="card blue white-text center">
<h5>Total Funcionários</h5>
<h4 id="total"></h4>
</div>
</div>

<div class="col s3">
<div class="card green white-text center">
<h5>Média Salarial</h5>
<h4 id="media"></h4>
</div>
</div>

<div class="col s3">
<div class="card red white-text center">
<h5>Maior Salário</h5>
<h4 id="maior"></h4>
</div>
</div>

<div class="col s3">
<div class="card purple white-text center">
<h5>Custo Total</h5>
<h4 id="custo"></h4>
</div>
</div>

</div>

<div class="row">

<div class="col s12 m6">
<div id="grafico_barra"></div>
</div>

<div class="col s12 m6">
<div id="grafico_pizza"></div>
</div>

</div>

<div class="row">

<div class="col s12">
<div id="grafico_depto"></div>
</div>

</div>

<script>

function carregar(){

fetch("/data")
.then(res=>res.json())
.then(data=>{

document.getElementById("total").innerText=data.total
document.getElementById("media").innerText="R$ "+data.media
document.getElementById("maior").innerText="R$ "+data.maior
document.getElementById("custo").innerText="R$ "+data.custo

let barra=JSON.parse(data.barra)
let pizza=JSON.parse(data.pizza)
let depto=JSON.parse(data.depto)

Plotly.newPlot("grafico_barra",barra.data,barra.layout)
Plotly.newPlot("grafico_pizza",pizza.data,pizza.layout)
Plotly.newPlot("grafico_depto",depto.data,depto.layout)

})

}

window.onload=carregar

</script>

{% endblock %}