{% extends "base.html" %}
{% block content %}

<h4>Funcionários</h4>

<button class="btn blue modal-trigger"
data-target="modalFuncionario"
onclick="abrirAdicionar()">
Adicionar Funcionário
</button>

<br><br>

<table class="striped">

<thead>
<tr>
<th>Nome</th>
<th>Cargo</th>
<th>Departamento</th>
<th>Salário</th>
<th>Admissão</th>
<th>Ações</th>
</tr>
</thead>

<tbody>

{% for f in funcionarios %}

<tr>

<td>{{f["nome"]}}</td>
<td>{{f["cargo"]}}</td>
<td>{{f["departamento"]}}</td>
<td>R$ {{f["salario"]}}</td>
<td>{{f["admissao"]}}</td>

<td>

<button class="btn orange"
onclick="editarFuncionario(
{{f['id']}},
'{{f['nome']}}',
'{{f['cargo']}}',
'{{f['departamento']}}',
{{f['salario']}},
'{{f['admissao']}}'
)">
Editar
</button>

<button class="btn red"
onclick="abrirModalDelete({{f['id']}},'{{f['nome']}}')">
Remover
</button>

</td>

</tr>

{% endfor %}

</tbody>

</table>


<!-- MODAL FUNCIONÁRIO -->

<div id="modalFuncionario" class="modal">

<div class="modal-content">

<h5 id="tituloForm">Adicionar Funcionário</h5>

<div class="row">

<div class="input-field col s12 m6">
<input id="nome" type="text">
<label for="nome">Nome</label>
</div>

<div class="input-field col s12 m6">
<input id="cargo" type="text">
<label for="cargo">Cargo</label>
</div>


<!-- SELECT DEPARTAMENTO -->

<div class="input-field col s12 m6">

<select id="departamento">

<option value="" disabled selected>Escolha o departamento</option>

<option value="TI">TI</option>
<option value="Financeiro">Financeiro</option>
<option value="RH">Recursos Humanos</option>
<option value="Marketing">Marketing</option>
<option value="Vendas">Vendas</option>
<option value="Administrativo">Administrativo</option>
<option value="Logística">Logística</option>
<option value="Atendimento">Atendimento</option>
<option value="Jurídico">Jurídico</option>
<option value="Operações">Operações</option>

</select>

<label>Departamento</label>

</div>


<div class="input-field col s12 m6">
<input id="salario" type="number">
<label for="salario">Salário</label>
</div>

<div class="input-field col s12 m6">
<input id="admissao" type="date">
<label for="admissao" class="active">Admissão</label>
</div>

</div>

</div>

<div class="modal-footer">

<button class="btn green" onclick="salvarFuncionario()">
Salvar
</button>

<a class="modal-close btn grey">
Cancelar
</a>

</div>

</div>


<!-- MODAL DELETE -->

<div id="modalDelete" class="modal">

<div class="modal-content">

<h5>Confirmar remoção</h5>

<p id="textoDelete"></p>

</div>

<div class="modal-footer">

<button class="btn red" onclick="confirmarDelete()">
Deletar
</button>

<a class="modal-close btn grey">
Cancelar
</a>

</div>

</div>



<script>

let funcionarioEditando = null
let funcionarioDeletar = null


document.addEventListener('DOMContentLoaded', function(){

const modais = document.querySelectorAll('.modal')
M.Modal.init(modais)

const selects = document.querySelectorAll('select')
M.FormSelect.init(selects)

})



/* ABRIR MODAL PARA ADICIONAR */

function abrirAdicionar(){

funcionarioEditando = null

document.getElementById("tituloForm").innerText = "Adicionar Funcionário"

document.getElementById("nome").value = ""
document.getElementById("cargo").value = ""
document.getElementById("salario").value = ""
document.getElementById("admissao").value = ""

document.getElementById("departamento").value = ""

M.updateTextFields()

M.FormSelect.init(document.querySelectorAll('select'))

}



/* EDITAR FUNCIONÁRIO */

function editarFuncionario(id,nome,cargo,departamento,salario,admissao){

funcionarioEditando = id

document.getElementById("tituloForm").innerText = "Editar Funcionário"

document.getElementById("nome").value = nome
document.getElementById("cargo").value = cargo
document.getElementById("salario").value = salario
document.getElementById("admissao").value = admissao

document.getElementById("departamento").value = departamento

M.updateTextFields()

M.FormSelect.init(document.querySelectorAll('select'))

var modal = M.Modal.getInstance(document.getElementById('modalFuncionario'))

modal.open()

}



/* SALVAR FUNCIONÁRIO */

function salvarFuncionario(){

let dados = {

nome:document.getElementById("nome").value,
cargo:document.getElementById("cargo").value,
departamento:document.getElementById("departamento").value,
salario:document.getElementById("salario").value,
admissao:document.getElementById("admissao").value

}

let url = "/add"

if(funcionarioEditando){

url = "/editar/" + funcionarioEditando

}

fetch(url,{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify(dados)

})

.then(()=>location.reload())

}



/* MODAL DELETE */

function abrirModalDelete(id,nome){

funcionarioDeletar = id

document.getElementById("textoDelete").innerText =
"Deseja remover o funcionário " + nome + "?"

var modal = M.Modal.getInstance(document.getElementById('modalDelete'))

modal.open()

}



function confirmarDelete(){

fetch("/delete/" + funcionarioDeletar)

.then(()=>location.reload())

}

</script>

{% endblock %}